.btn {
    font-size: 15px;
    background-color: rgb(179, 178, 178);
color: black;
padding: 10px;
border-radius: 3px;
/* justify-content: center; */
/* align-items: center; */
cursor: pointer;
border: 2x solid black;
margin: 5px;
}

